/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    width: 31%;
    
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: block;
}

.navbar-list {
    display: flex;
}

.navbar-items {
    margin-left: 68px;
    color: black;
}

li {
    list-style: none;
}

.logo {
    height: 19px;
    padding-top: 20px;
}

nav ul li a:hover {
    border-top :#0065FC solid;
    padding-top: 21px;
    color: #0065FC;
}
/* Info-group */

.headline,.Search-bar,.filters-container,.informations {
    margin: 0;
    padding: 0;
}

.Info-group {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
/* form */
.search-form {
    display: flex;
    position: relative;
    height: 50px;
    width: 30%;
}

.location-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.search-input {
    width: 100%;
    height: 100%;
    padding-left: 70px;
    padding-right: 155px;
    border-radius: 15px;
    border: 2px solid #F2F2F2;
    font-weight: bold;

}

.submit-input {
    position: absolute;
    right: 0;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-weight: bold;
    border-style: none;
}

input::placeholder {
    color: black;
}

/* filters */

.filters-container {
    display: flex;
    align-items: center;
}

.filters {
    display: flex;
    align-items: center;
    border: #F2F2F2 1px solid;
    border-radius: 40px;
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.filters:hover {
    background-color: #DEEBFF;
}

.filters-text {
    margin-left: 10px ;
    font-weight: bold;
}


.filtres-title {
    padding-right: 20px;
}

/* Informations */

.informations {
    display: flex;
    align-items: center;
}
 .i-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 15px;
    border: 1px solid #d9d9d9 ;
    margin-right: 15px;
 }

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;

}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 33px;
    overflow: hidden;
}

.hebergements-cards img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    box-sizing: border-box;
    text-align: left;

}


.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;

}

.hebergements-more {
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* activites */
.activities {
    width: 100%;
}

.activities-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.activities-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activities-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
}

.activities-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activities-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    box-sizing: border-box;
    text-align: left;
}

.activities-cards a {
    width: 23.5%;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    background-color: #F2F2F2;
    padding: 20px 230px 20px 40px ;
}

.footer-list-container h4 {
    margin: 0;
}

.footer-list-container ul {
    text-align: left;
    padding-left: 0;
}
.footer-list-container li {
    list-style: none;
    margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
       
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}